* {
  box-sizing: border-box;
}

body {
  cursor: pointer;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-container {
  background-color: #ffffff;
  list-style-type: none;
  width: 60vw;
  padding: 30px;
  height: 90vh;
  border-radius: 10px;
}
.title {
  color: #ff8542;
  font-size: 30px;
  text-align: center;
}
